<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Log Book</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="home">
      <div class="home_container">
        <h1>DAILY LOGS</h1>
        <div class="dashboard">
          <div class="hr-text">
            <span>TODAY</span>
          </div>
          <div class="tbl">
            <table>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> File Name
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> File Name
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> File Name
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> File Name
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
            </table>
          </div>
          <div class="hr-text">
            <span>YESTERDAY</span>
          </div>
          <div class="tbl">
            <table>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> Manik
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> Govind
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> John Kathariya Tharu
                </td>
                <td>2025-12-18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square"></i> |
                  <i class="fa-regular fa-trash-can"></i>
                </td>
              </tr>
              <tr>
                <td class="file_name">
                  <i class="fa-regular fa-file"></i> Rudra
                </td>
                <td>2025/12/18</td>
                <td>10:55 PM</td>
                <td>
                  <i class="fa-regular fa-pen-to-square" title="Edit"></i> |
                  <i class="fa-regular fa-trash-can" title="Delete"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
