@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.login {
  margin-top: 2rem;
  width: 100%;
  border: 2px solid black;
}
.login h1 {
  text-align: center;
  padding: 0.8rem;
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid black;
}
.form {
  position: relative;
  padding: 1rem;
  width: 100%;
}
.form table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}
.form table td {
  padding: 0.5rem;
}
.form table td input {
  width: 100%;
  border: none;
  font-size: 1.5rem;
  outline: none;
}
.btn {
  text-align: right;
  padding: 0 1rem 1rem 0;
}
.btn button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid black;
  cursor: pointer;
}
.btn a {
  color: black;
  text-decoration: none;
}
.btn a:hover {
  color: blue;
}
.home {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.home_container {
  margin: 2rem 0;
  width: 40%;
  border: 2px solid black;
}
.home_container h1 {
  text-align: center;
  padding: 0.8rem;
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid black;
}
.dashboard {
  padding: 1rem;
}
.tbl {
  padding: 0.8rem 1rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.tbl table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}
.tbl table td,
.tbl table th {
  padding: 0.5rem;
}
.tbl table td {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding-left: 1.5rem;
  white-space: nowrap;
}
.tbl table tr:hover {
  background-color: rgb(236, 236, 236);
}
.tbl table td i {
  cursor: pointer;
}
.file_name {
  cursor: pointer;
}
.file_name i {
  margin-right: 0.2rem;
  font-size: 1.5rem;
}
.hr-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.hr-text::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
}

.hr-text span {
  padding: 0 10px;
  color: #555;
  font-size: 14px;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 1.5rem;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
}
select {
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
}
option {
  background-color: rgb(219, 219, 219);
}
.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media only screen and (max-width: 1000px) {
  .container {
    padding: 20px;
  }
  .home_container {
    width: 90%;
  }
}
